body {

  line-height: unset;
}

.gameFont {
  font-family:'Countdown'; font-weight: normal; font-style: normal;
  font-size: xxx-large;
  color : azure;
  z-index : 99999;
}
.mainconent {
  padding : 5%
}


.gameFontQuestionTitle {
  font-family:'Countdown'; font-weight: normal; font-style: normal;
  color :#94a294;
  font-size : xx-large;
  float: left;
  padding: 23px:;
  display: block;
  margin-right: 2px;
  margin-top: -33px;
  font-size: 60px;
  padding : 1%;
}

.directionFont {
  font-family: auto;
  color: burlywood;
  font-size: xx-large;
  text-align: left;
  margin-bottom:unset;
  padding-top: 1%;
  margin-top:0%;
  border:unset;
}

.buttonsOver{

  margin-left: 12%;
}

.feedbackFont {


  font-family:'Countdown'; font-weight: normal; font-style: normal;
    /* color: rgb(204, 45, 45); */
    font-size: xx-large;
align:left;
margin:0 auto;
margin-left:12%;

}


.fixmargins {
 padding : 1%;
 /* margin-left:1%; */
  margin-top: 12%;

}

@media only screen and (max-width: 780px) {
  
  .fixmargins {
    margin-left: 0%;
    margin-top: 12%;
  
  }


.buttonMove {
  cursor: pointer;
  margin-left: 1%;

}
}

@media only screen and (max-width: 1100px) {
  
  .fixmargins {
    margin-left: 1%;
    margin-top: 12%;
  
  }


.buttonMove {
  cursor: pointer;
  margin-left: 51%;

}
}

.FloatCenter {
  margin: 0 auto;
  width: 50%;
}


.leanLeft {
  margin: 0 auto;
  width: 50%;
}

.backgroundImage {
  background-image: url("/assets/images/stars_background.png"); 
 
 /* Full height */
 /* height: 100%; */
 /* Center and scale the image nicely */
 /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height : 100vh; */
  height : 100vh;

}


.buttonMove {
  cursor: pointer;
  margin-left: 71%;

}

/* inseerted in javascript routine */

.buttonPadding {
  padding: 1%;
  margin-left: 1%;
}
=========================================== */
* {
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

/* Nightsky with twinking stars - stolen from : https://codepen.io/WebSonick/pen/vjmgu */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(../images/stars.png ) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(../images/twinkling.png) repeat top center;
  /* z-index:1; */

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(../images/clouds3.png) repeat top center;
    /* z-index:3; */

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

/* end of theft */

/* shake screen effect - i wrote this one */

/* Standard syntax */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.explode {
  width:200vw;
  animation-iteration-count: 1;
  animation:letter_explode 1s 0s forwards;
}
@keyframes letter_explode {
    0% {letter-spacing:0.1em;opacity:1;}
    50% {letter-spacing:1em;opacity:0;}
    100% {letter-spacing: 0.0em;opacity:1;}
}
/* // add the countdown font */
@font-face {
  font-family: 'Countdown';
  src: url('../css/Countdown.woff2') format('woff2'),
      url('../css/Countdown.woff') format('woff'),
      url('../css/Countdown.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

